.content {
    min-height: calc(100vh - 45px);
}
.footer {
    height: 50px;
}
.form{
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: thistle;
}
.title, .desc, .url{
    font-size: 60px;
}
.titleInput, .descInput, .urlInput{
    width: 360px;
    height: 140px;
}