.content {
    min-height: calc(100vh - 45px);
}
.footer {
    height: 50px;
}
.ideaWrapper{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(209, 197, 203);
}
.create{
    text-align: center;
    margin-left: 45%;
    margin-top: 25px;
}